/** undoing some of skeleton.css **/
code {
  background: none;
  border: none;
}

body {
  color: rgba(0, 0, 0, 0.8);
}

div#header {
  padding: 10px 0px 12px 0px;
  margin-bottom: 20px;
  background-color: #0FA0CE;
  color: #fff;
}

div#header a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

div#footer {
  background-color: #555;
  color: #fff;
  font-size: 12px;
  margin-top: 30px;
  padding: 22px 0px 22px 0px;
}

div#footer a {
  color: white;
  text-decoration: underline;
}

div#footer a:hover {
  text-decoration: none;
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 1em;
}

.update {
  border: #0FA0CE 2px solid;
  border-left: #0FA0CE 10px solid;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
}

ul.postlist {
  list-style: none;
}

ul.postlist li {
  margin-bottom: 3rem;
}

ul.postlist li h5 {
  margin-bottom: 0.5rem;
}

.postlist li a {
  text-decoration: none;
}
.post {
  position: relative;
}

.post a::before {
  /** this makes the links expand **/
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -999em;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}

ul.postlist li p {
  margin-bottom: 0.5rem;
}

.postlist span {
  margin-left: 1rem;
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-size: 1.2em;
  padding-left: 1em;
  border-left: 4px solid rgba(170,170,170,0.5);
}

/** images **/
.figure img{
  width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.figure .caption {
  font-style: italic;
  margin-bottom: 20px;
}

/** syntax highlighting **/
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: 1px solid; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

